 <!-- Modal message -->
<div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="titleModalMessage" aria-hidden="true">
    <div class="modal-dialog" role="document" id="dialogModalMessage">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="titleModalMessage"></h4>
            </div>
            <div class="modal-body" id="bodyModalMessage"></div>
            <div class="modal-footer" id="footerModalMessage">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="btnCancelModalMessage"></button>
                <button type="button" class="btn btn-outline" data-dismiss="modal" id="btnAcceptModalMessage"></button>
            </div>
        </div>
    </div>
</div>
<!-- Modal error -->
<div class="modal modal-danger fade" id="modalError" tabindex="-1" role="dialog" aria-labelledby="titleModalError" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" id="dialogModalError">
        <div class="modal-content">
            <div class="modal-header pgm-message-danger" id="headerModalError">
                @*<button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title" id="titleModalError">Error</h4>
            </div>
            <div class="modal-body" id="bodyModalError"></div>
            <div class="modal-footer" id="footerModalError">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" id="btnAceptarModalError">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal loading  -->
<div class="modal fade" id="modalLoading" tabindex="-2" role="dialog" aria-labelledby="titleModalLoading" aria-hidden="true">
    <div class="bsp-loading" role="document">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i><h4 id="messageLoading">Procesando, por favor espere...</h4>
    </div>
</div>
