@{
    ViewData["Title"] = "Cotizador Ventas";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@ViewData["Title"] </h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"><a href="#">@ViewData["Title"]</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button id="btnBC" type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-BC"><i class="fas fa-search-plus"></i> Buscar Cotización</button>
                            <button id="btnNC" type="button" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Nueva Cotización</button>
                            <button id="btnVR" type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#modal-R"><i class="far fa-eye"></i> Ver Reglas</button>
                        </div>
                    </div>
                </div>
                   
                <!-- Datos Cliente -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Datos Cliente</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="btnCB" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-BCL"><i class="fas fa-search-plus"></i> Buscar Cliente</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtNombreDC">RUC:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtNombreDC" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtApellidosDC">Razon Social:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtApellidosDC" readonly>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtCorreoDC">Direccion:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtCorreoDC" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="btnAgregar" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal-AP"><i class="fas fa-plus-circle"></i> Agregar</button>
                                    <button id="btnQuitar" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Quitar</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                        <table id="tablaDC" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Item</th>
                                                    <th>Cantidad</th>
                                                    <th>Codigo</th>
                                                    <th>Descripción</th>
                                                    <th>Precio Cotizado</th> 
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>183</td>
                                                    <td>1</td>
                                                    <td>11-7-2014</td>
                                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    <td>2.3</td>
                                                </tr>
                                                <tr>
                                                    <td>184</td>
                                                    <td>1</td>
                                                    <td>11-7-2018</td>
                                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    <td>2.3</td>
                                                </tr>
                                                <tr>
                                                    <td>185</td>
                                                    <td>2</td>
                                                    <td>11-7-2020</td>
                                                    <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    <td>2.3</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 
                <!-- Proveedores  -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Proveedores</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Proveedor Dealer  -->
                        <div class="callout callout-success">
                            <h5>Proveedor Dealer</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="btnBD" class="btn btn-sm btn-success"><i class="fas fa-search-plus"></i> Buscar Dealer</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtNombrePD">Nombre:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombrePD" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFechaPD">Fecha:</label>
                                        <div class="input-group date" id="fechaPD" data-target-input="nearest">
                                            <input id="txtFechaPD" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaPD" readonly>
                                            <div class="input-group-append" data-target="#fechaPD" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtMonedaPD">Moneda:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtMonedaPD" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaPD" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Precio Venta</th>
                                                        <th>Marcar</th>
                                                        <th>Observación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>183</td>
                                                        <td>200</td>
                                                        <td>Gooyear</td>
                                                        <td>Bacon.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Proveedor 1  -->
                        <div class="callout callout-info">
                            <h5>Proveedor 1</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="btnBP1" class="btn btn-sm btn-success"><i class="fas fa-search-plus"></i> Buscar Provedor 1</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtNombreP1">Nombre:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombreP1" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFechaP1">Fecha:</label>
                                        <div class="input-group date" id="fechaP1" data-target-input="nearest">
                                            <input id="txtFechaP1" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaP1" readonly>
                                            <div class="input-group-append" data-target="#fechaP1" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtMonedaP1">Moneda:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtMonedaP1" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaP1" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Precio Venta</th>
                                                        <th>Marcar</th>
                                                        <th>Observación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>183</td>
                                                        <td>150</td>
                                                        <td>John Doe</td>
                                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Proveedor 2  -->
                        <div class="callout callout-success">
                            <h5>Proveedor 2</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="btnBP2" class="btn btn-sm btn-success"><i class="fas fa-search-plus"></i> Buscar Proveedor 2</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtNombreP2">Nombre:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombreP2" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFechaP2">Fecha:</label>
                                        <div class="input-group date" id="fechaP2" data-target-input="nearest">
                                            <input id="txtFechaP2" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaP2" readonly>
                                            <div class="input-group-append" data-target="#fechaP2" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtMonedaP2">Moneda:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtMonedaP2" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaP2" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Precio Venta</th>
                                                        <th>Marcar</th>
                                                        <th>Observación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>183</td>
                                                        <td>300</td>
                                                        <td>John Doe</td>
                                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Proveedor 3  -->
                        <div class="callout callout-warning">
                            <h5>Proveedor 3</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="btnBP3" class="btn btn-sm btn-success"><i class="fas fa-search-plus"></i> Buscar Proveedor 3</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtNombreP3">Nombre:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombreP3" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFechaP3">Fecha:</label>
                                        <div class="input-group date" id="fechaP3" data-target-input="nearest">
                                            <input id="txtFechaP3" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaP3" readonly>
                                            <div class="input-group-append" data-target="#fechaP3" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtMonedaP3">Moneda:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtMonedaP3" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaP3" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Precio Venta</th>
                                                        <th>Marcar</th>
                                                        <th>Observación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>183</td>
                                                        <td>180</td>
                                                        <td>John Doe</td>
                                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Proveedor 4  -->
                        <div class="callout callout-danger">
                            <h5>Proveedor 4</h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button id="btnBP4" class="btn btn-sm btn-success"><i class="fas fa-search-plus"></i> Buscar Proveedor 4</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtNombreP4">Nombre:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtNombreP4" readonly>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtFechaP4">Fecha:</label>
                                        <div class="input-group date" id="fechaP4" data-target-input="nearest">
                                            <input id="txtFechaP4" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaP4" readonly>
                                            <div class="input-group-append" data-target="#fechaP4" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="txtMonedaP4">Moneda:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtMonedaP4" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaP4" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Precio Venta</th>
                                                        <th>Marcar</th>
                                                        <th>Observación</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>183</td>
                                                        <td>210</td>
                                                        <td>John Doe</td>
                                                        <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Precio Sugerido -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Precio Sugerido</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button id="btnGC" class="btn btn-sm btn-success"><i class="far fa-save"></i> Guardar Cotización</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="txtFechaPS">Fecha:</label>
                                    <div class="input-group date" id="fechaPS" data-target-input="nearest">
                                        <input id="txtFechaPS" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaPS" readonly>
                                        <div class="input-group-append" data-target="#fechaPS" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="cboMoneda">Moneda:</label>
                                    <select id="cboMoneda" class="form-control select2" style="width: 100%;">
                                        <option selected="selected">MN</option>
                                        <option>MN</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body table-responsive p-0" style="height: 300px;">
                                        <table id="tablaPS" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Valor Venta</th>
                                                    <th>Marca</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>183</td>
                                                    <td>John Doe</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Control Empresa  -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Control Empresa </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">

                        <!-- Kardex Venta  -->
                        <div class="callout callout-danger">
                            <h5>Kardex Venta</h5>
                            @*      <div class="row">
                            <div class="col-md-2">
                            <div class="form-group">
                            <label for="txtMP_KV">Mon. Prec.</label>
                            <input type="text" class="form-control form-control-sm" id="txtMP_KV" readonly>
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="form-group">
                            <label for="txtFechaKV">Fecha:</label>
                            <div class="input-group date" id="fechaKV" data-target-input="nearest">
                            <input id="txtFechaKV" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaKV" readonly>
                            <div class="input-group-append" data-target="#fechaKV" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="form-group">
                            <label for="txtCKV">Cliente:</label>
                            <input type="text" class="form-control form-control-sm" id="txtCKV" readonly>
                            </div>
                            </div>
                            </div> *@
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaKV" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mon. Prec.</th>
                                                        <th>Fecha</th>
                                                        <th>Cliente</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>S/. 183</td>
                                                        <td>17/10/2023</td>
                                                        <td>Transporte ABC</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Kardex Cotización  -->
                        <div class="callout callout-info">
                            <h5>Kardex Cotización</h5>
                            @*     <div class="row">
                            <div class="col-md-2">
                            <div class="form-group">
                            <label for="txtMP_KC">Mon. Prec.</label>
                            <input type="text" class="form-control form-control-sm" id="txtMP_KC" readonly>
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="form-group">
                            <label for="txtFechaKC">Fecha:</label>
                            <div class="input-group date" id="fechaKC" data-target-input="nearest">
                            <input id="txtFechaKC" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaKC" readonly>
                            <div class="input-group-append" data-target="#fechaKC" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="form-group">
                            <label for="txtCKC">Cliente:</label>
                            <input type="text" class="form-control form-control-sm" id="txtCKC" readonly>
                            </div>
                            </div>
                            </div> *@
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaKC" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mon. Prec.</th>
                                                        <th>Fecha</th>
                                                        <th>Cliente</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>S/. 183</td>
                                                        <td>15/10/2023</td>
                                                        <td>Vicente SRA</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Kardex Nota Ingreso  -->
                        <div class="callout callout-success">
                            <h5>Kardex Nota Ingreso</h5>
                            @*    <div class="row">
                            <div class="col-md-2">
                            <div class="form-group">
                            <label for="txtMP_KNI">Mon. Prec.</label>
                            <input type="text" class="form-control form-control-sm" id="txtMP_KNI" readonly>
                            </div>
                            </div>
                            <div class="col-md-2">
                            <div class="form-group">
                            <label for="txtFechaKNI">Fecha:</label>
                            <div class="input-group date" id="fechaKNI" data-target-input="nearest">
                            <input id="txtFechaKNI" type="text" class="form-control form-control-sm datetimepicker-input" data-target="#fechaKNI" readonly>
                            <div class="input-group-append" data-target="#fechaKNI" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                            <div class="form-group">
                            <label for="txtPKNI">Proveedor:</label>
                            <input type="text" class="form-control form-control-sm" id="txtPKNI" readonly>
                            </div>
                            </div>
                            </div> *@
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body table-responsive p-0" style="height: 300px;">
                                            <table id="tablaKNI" class="table table-head-fixed text-nowrap table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Mon. Prec.</th>
                                                        <th>Fecha</th>
                                                        <th>Proveedor</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>S/. 183</td>
                                                        <td>01/04/2022</td>
                                                        <td>Distribuidora Mendez</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!-- Modal Buscar Cotizaciones -->
<div class="modal fade" id="modal-BC">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Buscar Cotizaciones</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="M_Tabla_BC" class="table table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Cotización</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>18/02/2024</td>
                                        <td>John Doe</td>
                                        <td>0988787678</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Buscar Cliente -->
<div class="modal fade" id="modal-BCL">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Clientes</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_cboOrden">Orden:</label>
                            <select id="M_cboOrden" class="form-control select2" style="width: 100%;">
                                <option selected="selected"></option>
                                <option>RUC/DNI</option>
                                <option>NOMBRE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="M_txtMBBC">Buscar:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtMBBC">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="M_tablaBC" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>RUC</th>
                                        <th>Cliente</th>
                                        <th>Dirección</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>20405807667</td>
                                        <td>John Doe</td>
                                        <td>Av. San Jacinto 123</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div class="form-group">
                    <button id="M_btnNBC" type="button" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Nuevo</button>
                    <button id="M_btnEBC" type="button" class="btn btn-sm btn-warning"><i class="far fa-edit"></i> Editar</button>
                    <button id="M_btnELBC" type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </div>

                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal"> <i class="fas fa-sign-out-alt"></i> Salir</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Producto  -->
<div class="modal fade" id="modal-AP">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Artículo</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_txtAAP" style="visibility: hidden;">Espacio vacio</label>
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend">
                                    <button id="M_btnUAP" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-MA"><i class="fas fa-inbox"></i></button>
                                </div>
                                <input id="M_txtAAP" type="text" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_txtA2AP" style="visibility: hidden;">Espacio vacio</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtA2AP">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="M_txtCAP">Cantidad:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtCAP">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button id="M_btnGAP" type="button" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fas fa-plus-circle"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Manteminiento de Articulos  -->
<div class="modal fade" id="modal-MA">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manteminiento de Articulos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="M_cboOMA">Orden:</label>
                            <select id="M_cboOMA" class="form-control select2" style="width: 100%;">
                                <option selected="selected">Descripción</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="M_txtBMA">Buscar:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtBMA">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="M_btnBMA" style="visibility: hidden;">Espacio vacio</label>
                            <button id="M_btnBMA" type="button" class="btn btn-sm btn-success"><i class="fas fa-search-plus"></i> Buscar</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="M_checkboxS" style="visibility: hidden;">Espacio vacio</label>
                            <div class="icheck-primary d-inline">
                                <input type="checkbox" id="M_checkboxS" checked="">
                                <label for="M_checkboxS">
                                    En Stock
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button id="M_btnSMA" type="button" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Salir</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Manteminiento de Proveedores  -->
<div class="modal fade" id="modal-MP">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manteminiento de Proveedores</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_cboOMP">Orden:</label>
                            <select id="M_cboOMP" class="form-control select2" style="width: 100%;">
                                <option selected="selected"> </option>
                                <option>RUC/DNI</option>
                                <option>NOMBRE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="M_txtBMA">Buscar:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtBMP">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="M_Tabla_MP" class="table table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Razon Social</th>
                                        <th>Dirección</th>
                                        <th>Telefono</th>
                                        <th>Ruc</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>0988787678</td>
                                        <td>John Doe</td>
                                        <td>AV LIMA</td>
                                        <td>0988787678</td>
                                        <td>0988787678</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <div class="form-group">
                    <button id="M_btnNMP" type="button" class="btn btn-sm btn-success"><i class="fas fa-plus-circle"></i> Nuevo</button>
                    <button id="M_btnEMP" type="button" class="btn btn-sm btn-warning"><i class="far fa-edit"></i> Editar</button>
                    <button id="M_btnELMP" type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Eliminar</button>
                </div>

                <button id="M_btnSMA" type="button" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Salir</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Cotizar Proveedor  -->
<div class="modal fade" id="modal-CP">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cotizar Proveedor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_txtCPCP">Codigo Producto:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtCPCP" readonly>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="M_txtNPCP">Nombre Producto:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtNPCP" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_txtRCP">RUC:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtRCP" readonly>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="M_txtRSCP">Razon Social:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtRSCP" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="M_txtMCP">Marca:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtMCP">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="M_txtVCCP">Valor Costo:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtVCCP">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="M_txtOCP">Observación:</label>
                            <input type="text" class="form-control form-control-sm" id="M_txtOCP">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">

                <button id="M_btnCHCP" type="button" class="btn btn-sm btn-warning"><i class="fas fa-plus-circle"></i> Consultar Historico</button>

                <button id="M_btnACP" type="button" class="btn btn-sm btn-success" data-dismiss="modal"><i class="fas fa-check-double"></i> Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Reglas  -->
<div class="modal fade" id="modal-R">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reglas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="callout callout-success">
                    <h5>Reglas Precio Venta</h5>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-responsive">
                                <table id="M_Tabla_R" class="table table-bordered table-hover ">
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Dealer</th>
                                            <th>Alternativo</th>
                                            <th>Regla</th>
                                            <th>NOExecede</th>
                                            <th>valmin</th>
                                            <th>valmax</th>
                                            <th>ID</th>

                                        </tr>
                                    </thead> 
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/js/cotizador/cotizador.js"></script>

}
